<h1>Here's a weird little form to fill.</h1>

<form>
  <label for="isBox">Here's a box to click</label>
  <input type="radio" name="box" id="isBox" value="isBox" /><br />

  <p>What's the <sub>coolest</sub> <b> html</b> tag?</p><br />

  <select>
    <option value="p"><pre><code>< p ></code></pre></option>
    <option value="p"><pre><code>< h1 ></code></pre></option>
    <option value="p"><pre><code>< body ></code></pre></option>
    <option value="p"><pre><code>< meta ></code></pre></option>
  </select>
</form>
<br />

<button type="button">I'm a button!</button>
<br />
<br />


<a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element">More html tags!</a>

<br />

<p>here's a time tag in action <time>9:43</time>. I'm guessing this is more for meta stuff.</p>


<img src="https://media1.tenor.com/images/5db1781d28ba72dade2c88df47cf6a9e/tenor.gif?itemid=12064725" alt="cute kitty" />
